.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 24px;
  background-color: pink;
}